# EmailJS configuration for order confirmation emails.
# Sign up free at https://www.emailjs.com/, create an Email Service and an
# Email Template, then copy the IDs/keys below into a local file named ".env".
#
# In your EmailJS template, use these variables:
#   {{to_name}}, {{to_email}}, {{order_id}}, {{tracking_id}}, {{order_date}},
#   {{order_items}}, {{subtotal}}, {{delivery_fee}}, {{taxes}}, {{order_total}},
#   {{payment_method}}, {{delivery_address}}, {{delivery_date}},
#   {{delivery_time}}, {{customer_phone}}, {{cake_message}}
# Set the template "To email" field to {{to_email}}.

VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
